.iconContainer {
  padding: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  width: 36px;
  height: 36px;
  background-color: #0ef387;
}

@media screen and (min-width: 768px) {
  .iconContainer {
    width: 43px;
    height: 43px;
  }
}

.list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

@media screen and (min-width: 768px) {
  .list {
    flex-direction: row;
    gap: 24px;
  }
}

.listItem {
  padding-inline: 20px;
  padding-block: 22px;
  display: flex;
  align-items: center;
  gap: 12px;
  border-radius: 20px;
  background-color: #171719;
}

@media screen and (min-width: 768px) {
  .listItem {
    padding-block: 32px;
    padding-inline: 23px;
    gap: 22px;
    flex-basis: calc((100% - 24px) / 2);
    border-radius: 20px;
  }
}

@media screen and (min-width: 1440px) {
  .listItem {
    padding-right: 104px;
  }
}

.amountTitle {
  font-size: 12px;
  color: rgba(250, 250, 250, 0.5);
  margin-bottom: 5px;
}

@media screen and (min-width: 768px) {
  .amountTitle {
    font-size: 16px;
    margin-bottom: 10px;
  }
}

.amountText {
  font-weight: 700;
  font-size: 18px;
  color: #fafafa;
}

@media screen and (min-width: 768px) {
  .amountText {
    font-size: 24px;
  }
}
