.modalBackdrop {
  position: fixed;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(12, 13, 13, 0.6);
  z-index: 50;
  cursor: auto;
  padding: 20px;
}

.modalContent {
  position: relative;
  background-color: #171719;
  border-radius: 30px;
  padding: 40px 0;
  width: 500px;
  height: 461px;
  border: 1px solid rgba(250, 250, 250, 0.1);
}

@media (max-width: 760px) {
  .modalContent {
    width: 335px;
    height: 400px;
  }
}

.closeButtonContainer {
  position: absolute;
  top: 20px;
  right: 20px;
}

.closeIcon {
  cursor: pointer;
  stroke: #fafafa;
}

.modalTitle {
  font-weight: 400;
  font-size: 28px;
  letter-spacing: -0.02em;
  color: #fafafa;
  padding-left: 40px;
}
@media (max-width: 767px) {
  .modalTitle {
    font-size: 24px;
    padding-left: 20px;
  }
}
.allCategory {
  margin-top: 20px;
}

.allCategoryText {
  font-size: 12px;
  color: rgba(250, 250, 250, 0.4);
  padding: 0 40px;
  font-weight: 400;
}
@media (max-width: 767px) {
  .allCategoryText {
    padding: 0 20px;
  }
}
.categoriesList {
  max-height: 175px;
  overflow-y: auto;
  margin-top: 8px;
  width: 100%;
  height: 100%;
}
@media (max-width: 767px) {
  .categoriesList {
    max-height: 155px;
    margin-top: 10px;
  }
}
.categoryItem {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 12px 40px;
}
@media (max-width: 767px) {
  .categoryItem {
    padding: 12px 20px;
  }
}
.categoryItem:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.categoryActions {
  display: flex;
  gap: 14px;
}

.categoryName {
  font-weight: 400;
  font-size: 16px;
  color: #fafafa;
}
@media (max-width: 767px) {
  .categoryName {
    font-size: 14px;
  }
}
.newCategoryContainer {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  padding: 0 40px;
}
@media (max-width: 767px) {
  .newCategoryContainer {
    margin-top: 20px;
    padding: 0 20px;
  }
}
.newCategoryTitle {
  font-weight: 400;
  font-size: 16px;
  letter-spacing: -0.02em;
  color: #0ef387;
}
@media (max-width: 767px) {
  .newCategoryTitle {
    font-size: 14px;
  }
}
.newCategoryForm {
  margin-top: 8px;
  position: relative;
}

.newCategoryInput {
  padding: 12px 18px;
  border-radius: 12px;
  border: 1px solid rgba(250, 250, 250, 0.2);
  background-color: transparent;
  color: #fafafa;
  font-size: 16px;
  width: 420px;
  height: 48px;
}
@media (max-width: 767px) {
  .newCategoryInput {
    font-size: 14px;
    padding: 12px 14px;
    line-height: 1.3;
    width: 295px;
    height: 42px;
  }
}
.newCategoryInput::placeholder {
  color: rgba(250, 250, 250, 0.2);
}

.submitButton {
  box-sizing: border-box;
  border-radius: 12px;
  width: 118px;
  height: 48px;
  background-color: #0ef387;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: -0.02em;
  color: #0c0d0d;

  position: absolute;
  top: 0px;
  right: -2px;

  display: flex;
  align-items: center;
  justify-content: center;

  padding: 0;
}
@media (max-width: 767px) {
  .submitButton {
    width: 114px;
    height: 42px;
  }
}

.submitButton:hover {
  background-color: mediumseagreen;
}
.icon {
  fill: none;
  stroke: #0ef387;
  stroke-width: 1.5;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.categoriesList::-webkit-scrollbar {
  width: 8px;
}
.categoriesList::-webkit-scrollbar-track {
  background: transparent;
}
.categoriesList::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 12px;
}
.categoriesList::-webkit-scrollbar-thumb:hover {
  background-color: rgba(255, 255, 255, 0.4);
}
