.guestLogo {
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 18px;
  letter-spacing: -0.02em;

  text-decoration: none;
  background-image: linear-gradient(#0ef387, #0ef387);
  background-position: 50% 100%;
  background-repeat: no-repeat;
  background-size: 0% 3px;
  transition: background-size 0.3s;

  &:hover,
  &:focus {
    background-size: 100% 2px;
  }
}

.logo {
  font-weight: 700;
  font-size: 18px;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: auto;

  /*  */
  text-decoration: none;
  background-image: linear-gradient(#0ef387, #0ef387);
  background-position: 50% 100%;
  background-repeat: no-repeat;
  background-size: 0% 3px;
  transition: background-size 0.3s;
  /*  */

  &:hover {
    background-size: 100% 2px;
  }
}
.logoWrap {
  display: flex;
  width: 27px;
  margin-right: 8px;
}
.bgImageWrapper__iconItem0 {
}

@media screen and (min-width: 768px) {
  .logo {
    font-size: 20px;
  }
  .guestLogo {
    font-size: 20px;
  }
  /* .guest {
    display: flex;
  } */
}
@media screen and (min-width: 1440px) {
  .logo {
    font-size: 20px;
    margin-right: 0;
  }
}
