.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #171719;
  opacity: 1;
  border: 1px solid rgba(250, 250, 250, 0.1);
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  width: 335px;
  min-height: 260px;
  padding: 20px;
  z-index: 9999;
  display: flex;
}
.closeBtn {
  width: 20px;
  margin-left: auto;
  margin-bottom: 40px;
  stroke: #fafafa;
  &:hover,
  &:focus {
    stroke: #0ef387;
  }
  &:active {
    stroke: #0ebb69;
  }
}

.bgImageWrapper__iconItem21 {
  transition: stroke 0.3s ease;
}
.message {
  font-size: 14px;
  color: #fafafa;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
}
.buttons {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  gap: 8px;
  & > button {
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 40px;
    padding: 14px 44px;
  }
}
.logoutBtn {
  color: #0c0d0d;
  background-color: #0ef387;
  transition: background-color 0.3s ease;
  &:active,
  &:hover,
  &:focus {
    background-color: #0ebb69;
  }
}
.cancelBtn2 {
  background-color: #29292b;
  color: #fafafa;
  transition: color 0.3s ease;
  &:active,
  &:hover,
  &:focus {
    color: rgba(250, 250, 250, 0.5);
  }
}

@media screen and (min-width: 768px) {
  .modal {
    width: 500px;
  }

  .message {
    font-size: 16px;
  }

  .closeBtn {
    width: 24px;
  }
}
@media screen and (min-width: 1440px) {
}
