.wrapper {
  display: grid;
  grid-template-columns: 1fr;
  gap: 42px;
  margin-top: 59px;
}

@media screen and (min-width: 1440px) {
  .wrapper {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto;
    max-height: 600px;
    grid-template-areas:
      "child1 child3"
      "child2 child3"
      "child4 child3";
    height: 100%;
  }

  .wrapper > :nth-child(1) {
    grid-area: child1;
    max-height: 100px;
  }

  .wrapper > :nth-child(2) {
    grid-area: child2;
  }

  .wrapper > :nth-child(3) {
    grid-area: child3;
    width: 100%;
  }

  .wrapper > :nth-child(4) {
    grid-area: child4;
  }
}

.left,
.right {
  @media screen and (min-width: 1440px) {
    flex: 1;
  }
}

.wrapper__text {
  max-width: 650px;
}

.header {
  font-weight: 400;
  font-size: 32px;
  letter-spacing: -0.02em;
  color: #fafafa;
  margin-bottom: 20px;

  @media screen and (min-width: 768px) {
    margin-bottom: 15px;
  }
}

.text {
  font-weight: 400;
  font-size: 14px;
  letter-spacing: -0.02em;
  color: rgba(250, 250, 250, 0.4);

  @media screen and (min-width: 768px) {
    font-size: 16px;
  }
}
