.wrapper{
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-top: 25px;
}
@media screen and (min-width: 1440px){
    .wrapper{
        flex-direction: row;
        flex-wrap: wrap;
    }
}


.header{
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 32px;
    letter-spacing: -0.02em;
    color: #fafafa;
    margin-bottom: 20px;

}
.text{
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    letter-spacing: -0.02em;
    color: rgba(250, 250, 250, 0.4);

}
@media screen and (min-width: 768px){
    .text{
        font-size: 16px;
    }
    .header{
        margin-bottom: 15px;
    }
}