.custom-select {
  &__wrapper {
    position: relative;
    width: 100%;
    font-family: inherit;
    z-index: 10;
  }

  &__selected {
    display: flex;
    align-items: center;
    width: 100%;
    height: 42px;
    padding: 12px 14px;
    border-radius: 12px;
    background: transparent;
    cursor: pointer;
    user-select: none;
    transition:
      border 0.3s ease,
      box-shadow 0.3s ease;
    font-size: 14px;
    line-height: 1.29;
    color: #fafafa;
  }

  &__dropdown {
    font-size: 14px;
    position: absolute;
    top: calc(100% + 4px);
    left: 0;
    right: 0;
    color: rgba(250, 250, 250, 0.4);
    background-color: #0c0d0d;
    border: 1px solid rgba(250, 250, 250, 0.1);
    border-radius: 15px;
    max-height: 200px;
    overflow-y: auto;
    z-index: 100;
  }

  &__option {
    padding: 10px 14px;
    cursor: pointer;

    transition: color 0.3s ease;

    &:hover {
      color: #fafafa;
    }
    &:active {
      color: #0ef387;
    }
  }

  &__option--active {
    color: #fafafa;
  }
}
