.tableWrapper {
  margin-top: 20px;
}
/* .tableHeader {
  background: rgba(0, 0, 0, 0.2);
  width: 100%;
  padding: 12px 15px;
  font-weight: 400;
  font-size: 12px;
  color: rgba(250, 250, 250, 0.4);
  height: 53px;
  background: rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .tableHeader {
font-weight: 400;
font-size: 16px;
color: rgba(250, 250, 250, 0.4);
  }
} */
.tableInner {
  max-height: 350px;
  overflow-y: auto;
  overflow-x: auto;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .tableInner {
    max-height: auto;
  }
}
.table {
  table-layout: fixed;
  width: 120%;
  border-collapse: collapse;
}
@media screen and (min-width: 768px) {
  .table {
    width: 100%;
  }
}
.tableInner::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.tableInner::-webkit-scrollbar-track {
  background: transparent;
}

.tableInner::-webkit-scrollbar-thumb {
  background-color: rgb(88, 88, 88);
  border-radius: 20px;
  border: 3px solid rgba(255, 166, 0, 0);
}

thead {
  height: 53px;
  background: rgba(0, 0, 0, 0.2);
  align-items: center;
}
tbody {
  white-space: nowrap;
}
th {
  padding: 12px 8px;
  font-weight: 400;
  font-size: 12px;
  color: rgba(250, 250, 250, 0.4);

  white-space: nowrap;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
}
td {
  padding: 12px 0;
  font-weight: 400;
  font-size: 14px;
  color: #fafafa;

  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
@media screen and (min-width: 768px) {
  td {
    font-weight: 400;
    font-size: 20px;
  }
}
.colCategory,
.colComment,
.colDate,
.colTime {
  width: 67px;
  padding-left: 5px;
}
@media screen and (min-width: 768px) {
  .colCategory,
  .colComment,
  .colDate,
  .colTime {
    width: 110px;
    padding-left: 5px;
  }
}
@media screen and (min-width: 1440px) {
  .colCategory,
  .colComment,
  .colDate,
  .colTime,
  .colSum {
    width: 170px;
    padding-left: 5px;
  }
}
.colCategory {
  padding-left: 15px;
}
@media screen and (min-width: 768px) {
  .colCategory {
    padding-left: 25px;
  }
}
.colSum {
  position: relative;
}
.colActions {
  position: relative;
  padding-right: 20px;
}
.modal {
  border-radius: 20px;
  padding: 32px;
  max-width: 540px;
  max-height: 95vh;
  overflow-y: auto;
  box-shadow: 0px 10px 20px rgba(46, 47, 66, 0.7);
  position: relative;
  animation: fadeInScale 0.25s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgba(46, 47, 66, 0.904);
  gap: 40px;
}
@keyframes fadeInScale {
  from {
    opacity: 0;
    transform: scale(0.96);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(46, 47, 66, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.detailsList {
  display: flex;
  flex-direction: column;
  gap: 15px;
  color: #c9c9c9;
}
.modalBtn {
  border-radius: 40px;
  width: 133px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 10px;
}
.deleteBtn {
  background: #ff0202;
}
.cancelBtn {
  margin-top: 20px;
  background: #29292b;
}
.modalBtn:hover {
  filter: drop-shadow(2px 2px 2px var(--black)) brightness(1.5);
}
