.buttonsWrapper {
  background-color: #171719;
  width: 96px;
  height: 44px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  gap: 8px;
}
@media screen and (min-width: 1440) {
  .buttonsWrapper {
    width: 300px;
  }
}

.editBtn,
.deletetBtn {
  border-radius: 40px;
  padding: 14px;

  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  gap: 10px;
  overflow: hidden;
}
.editBtn {
  background: #0ef387;

  fill: #0c0d0d;
  color: var(--black);
}

.deletetBtn {
  background: #0c0d0d;
}

@media screen and (min-width: 1440px) {
  .editBtn,
  .deletetBtn {
    min-width: 90px;
    display: flex;
    justify-content: flex-start;
    gap: 20px;
  }
  .deletetBtn {
    min-width: 110px;
  }
}

.editIcon {
  stroke-width: 1.5px;
  stroke: #0c0d0d;
}
.deletIcon {
  stroke-width: 1.5px;
  stroke: #fafafa;
}
.deleteText,
.editText {
  display: none;
}
@media screen and (min-width: 1440px) {
  .deleteText,
  .editText {
    display: inline;
  }
}
