.mainWrapper {
  flex-direction: column;
}

.title {
  font-weight: 400;
  font-size: 32px;
  letter-spacing: -0.02em;
  color: #fafafa;
}
.description {
  font-weight: 400;
  font-size: 14px;
  letter-spacing: -0.02em;
  color: rgba(250, 250, 250, 0.4);
  margin-bottom: 40px !important;
}

.trasactionsWrapper {
  margin-top: 40px;
  border-radius: 30px;
  background: #171719;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.infoWrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
@media screen and (min-width: 1440px) {
  .infoWrapper {
    flex-direction: row;
  }
  .titleWrapper {
    max-width: 50%;
  }
  .description {
    padding: 15px 100px 0 0;
  }
}
