.chartContainer {
  background-color: #171719;
  padding: 28px 20px 40px;
  border-radius: 30px;
  margin-bottom: 80px;
}

@media screen and (min-width: 768px) {
  .chartContainer {
    padding: 40px 40px 60px;
  }
}

@media screen and (min-width: 1440px) {
  .chartContainer {
    margin-bottom: 0;
  }
}

.title {
  font-size: 14px;
  color: rgba(250, 250, 250, 0.5);
  margin-bottom: 56px;
}

@media screen and (min-width: 768px) {
  .title {
    font-size: 16px;
    margin-bottom: 37px;
  }
  .statsWrapper {
    display: flex;
    align-items: flex-start;
    gap: 96px;
  }
}

@media screen and (min-width: 1440px) {
  .title {
    margin-bottom: 35px;
  }
  .statsWrapper {
    gap: 42px;
  }
}

.pieChartWrapper {
  position: relative;
  height: 150px;
  width: 292px;
  margin: 0 auto 60px;
}

@media screen and (min-width: 768px) {
  .pieChartWrapper {
    margin: 0;
  }
}

.chartDescr {
  position: absolute;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
  font-weight: 700;
  font-size: 24px;
  color: #fafafa;
}

@media screen and (min-width: 1440px) {
  .chartDescr {
    bottom: -25px;
  }
}

.list {
  font-size: 16px;
  color: rgba(250, 250, 250, 0.5);
  max-height: 126px;
  padding-right: 28px;
  overflow-y: auto;
  list-style: none;
  margin: 0;
}

@media screen and (min-width: 768px) {
  .list {
    width: 216px;
    margin-top: 4px;
    padding-right: 18px;
  }
}

.list::-webkit-scrollbar {
  width: 8px;
}

.list::-webkit-scrollbar-track {
  background: #2a2a2e;
  border-radius: 10px;
}

.list::-webkit-scrollbar-thumb {
  background: #555;
  border-radius: 10px;
}

.list::-webkit-scrollbar-thumb:hover {
  background: #777;
}

.listItem {
  display: flex;
  align-items: center;
}

.listItem:not(:last-child) {
  margin-bottom: 17px;
}

.wrapperMarker {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin-right: 10px;
}

@media screen and (min-width: 1440px) {
  .wrapperMarker {
    margin-right: 8px;
  }
}

.itemDescr {
  margin-right: auto;
}

.itemSpan {
  font-weight: 700;
  font-size: 16px;
  color: #fafafa;
}

.warningWrapper {
  text-align: center;
}

.warningTitle {
  font-size: 16px;
  color: #fafafa;
  margin-bottom: 20px;
}

.imgNoTransactions {
  max-width: 100%;
  height: auto;
}
